:root {
  --keycloak-bg-logo-url: url('../img/keycloak-bg.avif');
  --keycloak-logo-url: url('../img/keycloak-logo-text.svg');
  --keycloak-logo-height: 5em;
  --keycloak-logo-width: 4em;
}

#kc-header {
  --pf-v5-c-login__header--xl--MarginTop: var(--pf-v5-global--spacer--md);
}

#kc-header-wrapper {
  --pf-v5-c-login__header--c-brand--MarginBottom: 1.5rem;
}

.pf-v5-c-login__main-header {
  border-top: none;
}

.pf-v5-c-button.pf-m-secondary {
  color: var(--pf-v5-c-button—-m-primary--Color);
}

#kc-form::before {
  content: "\2139\FE0F Please note: Due to data protection/privacy reasons accounts are deleted after a few months!\A\A";
  white-space: pre-wrap;
}
